#header_Brasil{
    font-stretch: extra-expanded;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: Geneva;
    font-size: 12em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}
#what_todo{
    font-family: Geneva;
    font-stretch:condensed;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding:50px;
    text-align:center;
}
#mainPlanList{
    text-align:left;
    text-decoration:solid;
}
.city {
    background-color: antiquewhite;
    color:aqua;
    border:double;
    padding:30px;
    text-align:left;
}
#mainCity {
    text-align: left;
    text-decoration: solid;
}
.parentDiv{
    display: block;
    background-color: bisque;
    width: 30vw;
    height: 30vh;
    overflow: visible;
    position: absolute;
}
.childDiv{
    display: block;
    background-color:aquamarine;
    width: 20vw;
    height: 20vh;
    overflow: visible;
    border: 1cm;
    position:absolute;
}
.greatChildDiv{
    display: block;
    background-color:rgb(127, 127, 255);
    width: 10vw;
    height: 10vh;
    overflow: visible;
    border: 1cm;
    position:absolute;
}
.dropSearch {
    position: relative;
    display: inline-block;
}

.dropContent{
    display:none;
    position: absolute;
    background-color: aliceblue;
    z-index: 1;
}
.show-form .dropContent {
    display: block;
}
.close-form .dropContent{
    display: none;
}
.dropBtn{
    background-color: cornflowerblue;
    color:black;
    padding: 16px;
    block-size: auto;
    font-size: small;
    border: none;
}
.searchform{
    display:none;
}
.wid{
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    border-radius: 25px;
    width: auto;
    height: auto;
    flex: 1;
    border: 0;
    outline: 0;
}
.pict{
    border-radius: 22px;
    width: 56px;
    height: 59px;
}
.formWidget{
    display: none;
}

#enter-me{
    display: inline-block;
    font-size: 23px;
}
.reports{
    display: none;
}

#id-h1{
    border-color: red;
    font-weight: bold;
}
