@charset "UTF-8";

#header_UFCapp {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    font-size: 80pt;
    margin-top: auto;
    padding-inline: auto;
}

#start-btn {
    background-color: aquamarine;
    font-size:25pt;
    text-align: center;
    font-style:italic;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: yellow;
    border-radius: 20%;
    border: 2px solid #04AA6D;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
