@charset "UTF-8";

/* #header_UFCapp {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    font-size: 80pt;
    margin-top: auto;
    padding-top: 0%;
} */

#mainCaption {
    margin-top: auto;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#chU {
    font-size: 85pt;
    color:brown;
}

/* #chF {
    font-size: 75pt;
    color:rgb(63, 134, 197);
    transform: rotate(45deg) translateX(180px);
} */

.charF {

    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;    
    font-size: 48px;
}

#chC {
    font-size: 85pt;
    color:rgb(172, 114, 26);
    
}

#header_Welcome {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    font-size: 40pt;
    margin-top: -22pt;
    padding-top: 0%;
}

#stbtn {
    background-color: aquamarine;
    font-size:25pt;
    text-align: center;
    font-style:italic;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: yellow;
    border-radius: 20%;
    border: 2px solid #04AA6D;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



